<!-- Footer -->

    <footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        HAPI Project
                    </a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        Acerca de
                    </a>
                </li>
                <li>
                    <a href="http://www.eafit.edu.co/">
                        EAFIT
                    </a>
                </li>
                <li>
                    <a href="https://www.hablacreativo.com/">
                        Grupo Habla Creativo
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>
            </script> Hecho con amor por HAPI Team
        </div>
    </div>
    </footer>

<!-- End_footer -->