<div class="sidebar" data-color="purple" data-background-color="white" data-image="https://demos.creative-tim.com/material-dashboard-pro/assets/img/sidebar-1.jpg">
<!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
<div class="logo">
<a href="" class="simple-text logo-normal">
    HAPI Project
</a>
</div>
<div class="sidebar-wrapper">
<ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="../examples/dashboard.html">
                <i class="material-icons">dashboard</i>
                <p>Generador</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/clients/index">
                <i class="material-icons">people</i>
                <p>Clientes</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../examples/dashboard.html">
                <i class="material-icons">style</i>
                <p>Marcas</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../examples/dashboard.html">
                <i class="material-icons">record_voice_over</i>
                <p>Campañas</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../examples/dashboard.html">
                <i class="material-icons">view_module</i>
                <p>Grupos de Anuncios</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../examples/dashboard.html">
                <i class="material-icons">view_carousel</i>
                <p>Anuncios</p>
            </a>
        </li>
        <li class="nav-item active-pro">
        <a class="nav-link" href="../admin/">
            <i class="material-icons">settings</i>
            <p>Administrador</p>
        </a>
    </li>
</ul>
</div>
</div>

