
    <div class="sidebar" data-color="rose" data-background-color="white" data-image="https://demos.creative-tim.com/material-dashboard-pro/assets/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
        -->
           <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-mini">
             
        </a>

        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
             TET Project 1
        </a></div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/event/get_location">
                            <i class="material-icons">place</i>
                            <p>Coordenadas</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/event/date">
                            <i class="material-icons">map</i>
                            <p>Mapa</p>
                        </a>
                    </li>
                    <li class="nav-item active-pro">
                    <a class="nav-link" href="../admin/">
                        <i class="material-icons">settings</i>
                        <p>Administrador</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
