<div class="sidebar" data-color="rose" data-background-color="white" data-image="https://demos.creative-tim.com/material-dashboard-pro/assets/img/sidebar-1.jpg">
<!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
<div class="logo">

    <div class="img-container">
        <img src="https://image.ibb.co/bs1NQy/HAPI_8_otra_copia.png">
    </div>

</div>
<div class="sidebar-wrapper">
<ul class="nav">
        <li class="nav-item active">
            <a class="nav-link" href="/position/getPosition">
                <i class="material-icons">place</i>
                <p>Coordenadas</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/event/date">
                <i class="material-icons">map</i>
                <p>Mapa</p>
            </a>
        </li>
          <li class="nav-item active-pro">
            <a class="nav-link" href="../admin/">
                <i class="material-icons">settings</i>
                <p>Administrador</p>
            </a>

          </li>
</ul>
</div>
</div>
